[Unit]
Description=Tonix RAM Wipe on Shutdown
DefaultDependencies=no
Before=umount.target
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tonix-ram-wipe
TimeoutStopSec=35

[Install]
WantedBy=shutdown.target reboot.target halt.target
